body {
  height: 100vh;
  margin: 0;
  font-family: Poppins, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;

  width: 80%;
}

.text-container {
  flex: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }